<h1><%= @user.name %>のページ</h1>
<h2>メールアドレス：<%= @user.email %></h2>

<p><%= image_tag @user.image.url, size: "200x100" if @user.image.present? %></p>
<h2><%= link_to 'New Picture', edit_user_path %></h2>
<br>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= image_tag picture.image.url, size: "200x100" %></td>
        <td><%= picture.content %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '画像一覧', pictures_path %>
<br>
<%= link_to 'お気に入り一覧', favorites_path %>
<br>
<%= link_to 'New Picture', new_picture_path %>

