<h2><%= @user.name %>のページ</h2>
<h2>メールアドレス：<%= @user.email %></h2>

<p><%= image_tag @user.image.url, size: "600x300" if @user.image.present? %></p>
<h4><%= link_to 'プロフィールを編集する', edit_user_path %></h4>
<br>
<br>
<br>
<h3>自分の投稿</h3>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= image_tag picture.image.url, size: "200x100" %></td>
        <td><%= picture.content %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '画像一覧', pictures_path %>
<br>
<%= link_to 'お気に入り一覧', favorites_path %>
<br>
<%= link_to '新しく投稿する', new_picture_path %>

